* {
  margin: 0;
}

html, body {
  height: 100vh;
}

html {
  scroll-snap-type: y mandatory;
}

#root {
  height: 100%;
}

.app {
  background-color: black;
  height: 100%;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;
  width: 80%;
  max-width: 500px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
